.tableWrapper {
	height: 350px;
}
.table {
	table-layout: fixed;
}

.tableHeader {
	th {
		position: sticky;
		top: 0;
		background-color: var(--theme-titleBarBG);
		color: var(--theme-titleBarText);
		font-weight: bolder;
		font-size: 0.8em;
		min-width: 6em;
		height: 50px;
	}
	th:first-child,
	th:nth-child(2) {
		z-index: 2;
	}
	th:first-child {
		position: sticky;
		left: 0;
		width: 6em;
	}
	th:nth-child(2) {
		position: sticky;
		left: 6.55em;
		width: 10em;
	}
	th:nth-child(n + 3) {
		z-index: 1;
	}
}
.tableBody {
	td {
		position: sticky;
		top: 50px;
		background-color: white;
		min-width: 6em;
		height: 50px;
	}
	td:first-child,
	td:nth-child(2) {
		z-index: 2;
	}
	td:first-child {
		position: sticky;
		left: 0;
		width: 6em;
	}
	td:nth-child(2) {
		position: sticky;
		left: 6em;
		width: 10em;
	}
	td:nth-child(n + 3) {
		z-index: 1;
	}
}

td.limitUp {
	background-color: red;
	color: white;
	font-weight: 1000;
	font-size: 1em;
}
td.limitDown {
	background-color: green;
	color: white;
	font-weight: 1000;
	font-size: 1em;
}
td.boolean,
td.macd {
	font-size: 0.7em;
	padding: 0 0.5em;
}
