.titleBar {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	width: 100%;
	height: 40px;
	background: var(--theme-titleBarBG);
	cursor: pointer;
	header {
		height: inherit;
		flex-wrap: wrap;
	}
}
.titleLogo {
	display: flex;
	flex: 2;
	align-items: center;
	> img,
	span {
		color: var(--theme-titleBarText);
	}
}

.titleControl {
	margin: 0;
	display: flex;
	align-items: center;
	> li {
		display: inline-flex;
		-webkit-app-region: no-drag;
	}
}
.toggle {
	border-radius: 0.8em;
	background-color: var(--theme-titleBarSwitchBG);
	-webkit-app-region: no-drag;
}

.titleButton {
	height: 24px;
	border: 0;
	outline: 0;
	background: transparent;
	color: var(--theme-titleBarText);
	:hover {
		cursor: pointer;
		color: #aaa;
	}
}
.macClose {
	color: red;
	:hover {
		color: lightcoral;
	}
}
.macMini {
	color: goldenrod;
	:hover {
		color: lightgoldenrodyellow;
	}
}
.macMax {
	color: green;
	:hover {
		color: lightgreen;
	}
}
