.titleBar {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	width: 100%;
	height: 40px;
	background: var(--theme-titleBarBG);
	cursor: pointer;
	header {
		height: inherit;
		flex-wrap: wrap;
	}
}
.titleLogo {
	display: flex;
	flex: 1;
	align-items: center;
	> img,
	span {
		padding-left: 1em;
		color: var(--theme-titleBarText);
	}
}

.titleControl {
	flex: 1;

	> ul {
		margin: 0;
		text-align: right;
		> li {
			display: inline-flex;
			-webkit-app-region: no-drag;
			.darkModeIcon {
				color: var(--theme-titleBarSwitchText);
				padding-left: 0.2em;
			}
		}
		.darkMode {
			border-radius: 0.8em;
			background-color: var(--theme-titleBarSwitchBG);
		}
	}
}

.titleButton {
	height: 100%;
	border: 0;
	outline: 0;
	background: transparent;
	color: var(--theme-titleBarText);
	:hover {
		cursor: pointer;
		color: #aaa;
	}
}
