.circleSvg {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}
.circleBg {
	fill: none;
	stroke: var(--theme-progressCircleBG);
}

.circleBar {
	fill: none;
	stroke: var(--theme-progressCircleBar);
	transition: stroke-dashoffset 200ms ease-in-out;
}
.circleText {
	font-size: 3rem;
	text-anchor: middle;
	fill: var(--theme-titleBarText);
	font-weight: bold;
}
