body,
main {
	width: 100vw;
	height: 100vh;
	font-size: 1em;
	font-family: 'Comic Sans MS';
	font-weight: 700;
}

h1 {
	color: purple;
	margin: 2em auto;
	text-align: center;
	span {
		font-size: 2em;
	}
}
